<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}} 
            <p>This web app is created by Jay Ostwal. It uses darksky.net and mapbox.com</p>
            <img class="portrait" src="/img/apple.png">
        </div>
       
         {{>footer}}
    </body>
</html>